body {
    display: flex;
    flex-direction: column;
    min-width: 375px;
}

main {
    flex: 97vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-family: "Arial Black";
    color: #573008cb;
}

.bg {
    background-color: #f4c597;
}

.game {
    width: 90vw;
    height: 90vw;
    position: absolute;
    min-width: 350px;
    min-height: 350px;
    max-width: min(90vmin, 1000px);
    max-height: min(90vmin, 1000px);
    display: flex;
    flex-direction: column;
}

.board-container {
    height: 68%;
    justify-content: center;
    align-items: center;
    display: flex;
}

.board {
    flex: 2;
    background: black;
    box-shadow: 0 0 10px 2px rgb(69, 69, 69);
    width: 68%;
    height: 68%;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.square {
    flex: 0 0 33%;
    height: 33%;
    width: 33%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.cell {
    flex: 0 0 33%;
    height: 33%;
    width: 33%;
    color: black;
    border-style: solid;
}

.cell-dark {
    background: #9f560cc3;
}

.cell-light {
    background: #c66c11cb;
}

.cell-empty {
    border-style: none;
}

.cell-fill {
    background: #e29d58cb;
}


.game-info {
    height: 12%;
    justify-content: center;
    align-items: center;
    display: flex;
}

.title-score {
    text-align: left;
    width: 50%;
    padding-left: 15%;
}

.menu {
    text-align: right;
    width: 50%;
    padding-right: 15%;
}

.button {
    background-color: #e29d58cb;
    border-radius: 8px;
    border: none;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

.button:hover {
    background-color: #985411cb;
}

footer {
    flex: 0 3vh;
    background: #e29d58cb;
    color: #573008cb;
    padding-left: 5px;
}

footer a {
    padding-right: 5px;
    float: right;
    color: #573008cb;
}

@media (max-height: 700px) {
    footer {    
        display: none;
    }
    main {
        flex: 1 100vh;
    }
}

.popup {
    display: none;
    width: 90vw;
    height: 90vw;
    background-color: #e29d58cb;
    color: #573008cb;
    border-radius: 6px;
    min-width: 350px;
    min-height: 350px;
    max-width: min(90vmin, 800px);
    max-height: min(90vmin, 900px);
    flex-direction: column;
}

.top-bar {
    display: flex;
    width: 100%;
    height: 7%;
    justify-content: space-between;
    padding-left: 1%;
}

.tutorial-content {
    padding-left: 1%;
}


.close-button {
    display: flex;
    width: 5%;
    height: 4%;
    background-color: transparent;
    border: none;
    text-align: right;
    margin-right: 0px;
    padding-top: 1%;
}

.block-container {
    flex: 3;
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: space-around; 
    padding-top: 4%;
    padding-left: 15%;
    padding-right: 15%;
}

.block {
    height: 200px;
    width: 200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    cursor: move;
    position: absolute;
}

.left-block {
    position: absolute;
    cursor: move;
}