body {
    display: flex;
    flex-direction: column;
    min-width: 375px;
}
  
main {
    flex: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-family: "Arial Black";
    color: #573008cb;
}

.bg {
    background-color: #f4c597;
}

.game {
    /* background: white; */
    width: 90vw;
    height: 90vw;
    position: absolute;
    min-width: 350px;
    min-height: 350px;
    max-width: min(90vmin, 1000px);
    max-height: min(90vmin, 1000px);
    display: flex;
    flex-direction: column;
}

.board-container {
    height: 68%;
    justify-content: center;
    align-items: center;
    display: flex;
}

.board {
    flex: 2;
    background: black;
    box-shadow: 0 0 10px 2px rgb(69, 69, 69);
    width: 68%;
    height: 68%;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.square {
    flex: 0 0 33%;
    height: 33%;
    width: 33%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.cell {
    flex: 0 0 33%;
    height: 33%;
    width: 33%;
    color: black;
    text-align: center;
    padding-top: 20px;
}


.game-info {
    height: 12%;
    justify-content: center;
    align-items: center;
    display: flex;
}

.title-score {
    text-align: left;
    width: 50%;
    padding-left: 15%;
}

.menu {
    text-align: right;
    width: 50%;
    padding-right: 15%;
} 

.block-container {
    flex: 3;
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: space-around; 
    padding-top: 4%;
    padding-left: 15%;
    padding-right: 15%;
}

.block {
    /* background-color: black; */
    flex: 0 0 33%;
    height: 100%;
    width: 30%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; 
    padding-left: 4%;
    padding-right: 4%;
}

.button {
    background-color: #e29d58cb;
    border-radius: 8px;
    border: none;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

  .button:hover {
    background-color: #985411cb;
  }
